docker-compose.yml
__pycache__
build/
dist/
*.egg-info/
*.pypirc
*.pyc
*note
*backup*
venv/
baseballBot/frontoffice/test_output/
debug.log
passenger_wsgi.py
passenger_wsgi.pyc
tmp/
public/
baseballBot/manage.py