{% extends 'admin/base.html' %}

{% block content %}
<h2>Bulk Import Players</h2>
<div>
    <p>
        Import a csv of players. CSV expects column 2 to be in the format Player (MLB Team Abbreviation - Position) for example "Mike Trout (LAA - CF)". Multiple positions are also acceptable in this format "Ronald Acuna Jr. (ATL - LF,CF,RF)"
    </p>
    <form action="." method="POST" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}

            <button type="submit">Upload CSV</button>
    </form>
</div>
<br />

{% endblock %}