{% extends "../base.html" %}

{% block title %}{{ user_team }} Front Office{% endblock %}
{% block dashboardTitle %}{{ user_team }} Optimized Line Up{% endblock %}

{% block dashboardBody %}
<div class="row">
{% include 'frontoffice/lineup_card.html' with roster=current_roster card_title="Current Lineup" total_points=current_roster_total_points %}

{% include 'frontoffice/lineup_card.html' with roster=best_lineup card_title="Best Lineup" total_points=best_lineup_total_points %}

</div>

{% endblock %}