{% extends 'account_base.html' %}

{% block title %}Account Setup{% endblock %}

{% block account_body %}
<div class="d-flex justify-content-center h-75">
    <div class="card">
        <div class="card-header">
            <h3>Choose League</h3>
        </div>
        <div class="card-body text-white">
        <form method="post">
            {% csrf_token %}
            {% for non_field_error in form.non_field_errors %}
            <div class="errors input-group-text text-danger text-wrap">
            {{ non_field_error }}
            </div>
            {% endfor %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
              {% endfor %}

            {% for error in form.league.errors %}
            <div class="text-wrap input-group-text alert alert-danger">
                {{ error }}
            </div>
            {% endfor %}
            
            {% for radio in form.league %}
            <div class="input-group form-group">
                    {{ radio }}
            </div>
            {% endfor %}
            <div class="form-group">
                <input type="submit" id="_submit" name="_submit" class="btn float-right login_btn" value="Continue">
            </div>
          </form>
        </div>
    </div>
</div>
{% endblock %}