{% extends "../base.html" %}

{% block title %}{{ team }} Front Office{% endblock %}
{% block dashboardTitle %}

{% if team.yahoo_team_logo_url %}
<img style="height:50px;" src="{{ team.yahoo_team_logo_url }}" class="img-thumbnail">
{% endif %}

{{ team }} Front Office

{% endblock %}

{% block dashboardBody %}
<div class="row">
 <div class="col-s-4 col-lg-5">

  <!-- Team Info Card -->
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h5>{{ team }}</h5>
      {% if team.yahoo_team_logo_url %}
        <img style="height:50px;" src="{{ team.yahoo_team_logo_url }}" class="img-thumbnail">
        {% endif %}
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="container" style="display: block;">
          <div class="row mt-2">
            <div class="col-6"><span class="small font-weight-bold">Owner</span><br> {{ request.user|title }}</div>
            <div class="col-6"><span class="small font-weight-bold">League</span><br>{{ league.name }}<p><small class="font-italic font-weight-light text-muted">{{ league.yahoo_id }}</small></p>
            </div>
          </div>
          <div class="row mt-2">
            {% if matchup %}
            <div class="col-6"><span class="small font-weight-bold">Next Matchup</span><br>{{ matchup.opposing_team }}</div>
            {% endif %}
            {% if league.scoring_type == "headpoint" %}
              <div class="col-6"><span class="small font-weight-bold">Projected Total Points</span><br>{{ team.total_projected_points }} </div>
            {% endif %}
          </div>
          <div class="row mt-2">
            <div class="col-6"><span class="small font-weight-bold">Joined on:</span><br> {{ team.created_at|date:"SHORT_DATETIME_FORMAT" }}</div>
          </div>
        </div>
    </div>
  </div><!-- end team info card-->

  <!-- League Info Card -->
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h5>{{ league.name }}</h5>
      <small class="font-italic font-weight-light text-muted">last updated: {{ league.updated_at|date:"SHORT_DATETIME_FORMAT" }}</small>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="container" style="display: block;">
          <div class="row mt-2">
            <div class="col-6"><span class="small font-weight-bold">Team</span><br></div>
            {% if league.scoring_type == "headpoint" %}
            <div class="col-6"><span class="small font-weight-bold">Project Points</span></div>
            {% endif %}
          </div>

          {% for otherTeam in other_league_teams %}
          <div class="row mt-2">
            <div class="col-6">
            {% if otherTeam.yahoo_team_logo_url %}
            <img style="height:50px;" src="{{ otherTeam.yahoo_team_logo_url }}" class="img-thumbnail">
            {% endif %}
            {{ otherTeam }}</div>
            {% if league.scoring_type == "headpoint" %}
            <div class="col-6">{{ otherTeam.total_projected_points }}
            </div>
            {% endif %}
          </div>
          {% endfor %}

          <div class="float-right">
              <button id="update_league_info" type="button" class="btn btn-info btn-sm">Update League</button>
          </div>

        </div>
    </div>
  </div> <!-- end league info card--> 

  <!-- League stats Info Card -->
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h5>Scoring Categories for {{ league.name }}
      </h5>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="container" style="display: block;">
          <div class="row mt-2">
            <div class="col-6"><span class="small font-weight-bold">Stat</span><br></div>
            {% if league.scoring_type == "headpoint" %}
            <div class="col-6"><span class="small font-weight-bold">Value</span>
            </div>
            {% endif %}
          </div>

          {% for stat in league.stat_categories.all %}
          <div class="row mt-2">
            <div class="col-6">
              {{ stat.name }} <small class="font-italic font-weight-light text-muted">{{ stat.position_type }}</small>
            </div>
            {% if league.scoring_type == "headpoint" %}
            <div class="col-6">
              {{ stat.stat_modifier }}
            </div>
            {% endif %}
          </div>
          {% endfor %}

        </div>
    </div>
  </div> <!-- end league stats info card-->

</div> 

{% include 'frontoffice/lineup_card.html' with team=team roster=current_roster card_title="Current Lineup" total_points=team.total_projected_points %} 

</div>
{% endblock %}

{% block javascript %}
  <script>
    $(document).on('click', "#update_team_roster",function () {
  // $("#update_team_roster").click(function () {
    $.ajax({
      url: '{% url "ajax_update_team_roster" %}',

      dataType: 'json',
      success: function (data) {
        if (data) {
          console.log("response is "+data.data);
          location.reload();
        }
      }
    });

  });

  $(document).on('click', "#update_league_info",function () {
    $.ajax({
      url: '{% url "ajax_update_league" %}',

      dataType: 'json',
      success: function (data) {
        if (data) {
          console.log("response is "+data.data);
          location.reload();
        }
      }
    });

  });
</script>
{% endblock %}