{% extends "../base.html" %}

{% load static define_action %}

{% block title %}{{ page_title }}{% endblock %}
{% block dashboardTitle %}{{ page_title }} {% endblock %}

{% block dashboardBody %}
<div class="row">
<!--Lineup Card-->
  <div class="col">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        {# <h5>{{ league.name }}</h5> #}
        {% if description %}
        <div class="col-6">{{ description }}</div>
        {% endif %}
      </div>
          
      <!-- Card Body -->
      <div class="card-body">
        <table class="player_table table table-striped table-dark table-hover">
            <thead>
                
                <tr>
                    <th>Team</th>
                    <th>Total Cats Won</th>
                    <th>Hits</th>
                    <th>Runs</th>
                    <th>Singles</th>
                    <th>Doubles</th>
                    <th>Triples</th>
                    <th>Home Runs</th>
                    <th>Runs Batted In</th>
                    <th>Stolen Bases</th>
                    <th>Walks</th>
                    <th>Hit By Pitch</th>
                </tr>
               
            </thead>
            <tbody>
            {% for data in teams_stats  %}

                {% define data.team as team  %}
                {% define data as stats  %}
                <tr>
                    <td>
                        {% if team.yahoo_team_logo_url %}
                            <img style="height:50px;" src="{{ team.yahoo_team_logo_url }}" class="img-thumbnail" onerror="this.onerror=null;this.src='{% static "baseballBot/img/wiz_player_profile.png" %}';">
                        {% else %}
                            <img src="{% static "baseballBot/img/wiz_player_profile.png" %}" class="img-thumbnail">
                        {% endif %}
                        {{ team }}
                    </td>
                    
                    <td>{{ stats.roto_totals }}</td>
                    <td>{{ stats.hits|floatformat }} :: {{ stats.roto_points_hits }}
                    </td>
                    <td>{{ stats.runs|floatformat }}:: {{ stats.roto_points_runs }}
                    </td>
                    <td>{{ stats.singles|floatformat }}:: {{ stats.roto_points_singles }}
                    </td>
                    <td>{{ stats.doubles|floatformat }}:: {{ stats.roto_points_doubles }}
                    </td>
                    <td>{{ stats.triples|floatformat }}:: {{ stats.roto_points_triples }}
                    </td>
                    <td>{{ stats.homeruns|floatformat }}:: {{ stats.roto_points_homeruns }}
                    </td>
                    <td>{{ stats.rbis|floatformat }}:: {{ stats.roto_points_rbis }}
                    </td>
                    <td>{{ stats.stolen_bases|floatformat }}:: {{ stats.roto_points_stolen_bases }}
                    </td>
                    <td>{{ stats.walks|floatformat }}:: {{ stats.roto_points_walks }}
                    </td>
                    <td>{{ stats.hbps|floatformat }}:: {{ stats.roto_points_hbps }}
                    </td>
    
                {# {% endif %} #}
            
            </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div> <!-- end lineup card-->
</div>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {
    playerTable = $('.player_table').DataTable();

});
</script>
{% endblock %}