<!--Lineup Card-->
  <div class="col-s-8 col-lg-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h5>{{team }} Lineup</h5><small class="font-italic font-weight-light text-muted">last updated: {{ team.roster_last_updated_at|date:"SHORT_DATETIME_FORMAT" }}</small>
      </div>
          
      <!-- Card Body -->
      <div class="card-body">
        
        {% include 'frontoffice/rosterTable.html' with players=players editableRoster=editableRoster %}

        {% if editableRoster %}
        <div class="float-right">
          <button id="update_team_roster" type="button" class="btn btn-info btn-sm">Update Roster</button>
        </div>
        {% endif %}
      </div>

    </div>
  </div> <!-- end lineup card-->