{% extends "../base.html" %}

{% block title %}{{ user_team }} Settings{% endblock %}
{% block dashboardTitle %}{{ user_team }} Settings{% endblock %}


{% block dashboardBody %}
  <!-- Settings Info Card -->
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Auto Manager</h6> 
    </div>
    <div class="card-body">
        <div class="float-left">

<form action="." method="POST">
  {% csrf_token %}

  <input type="radio" id="True" name="auto_manager" value=True>
  <label for="True">On</label>
  <input type="radio" id="False" name="auto_manager" value=False>
  <label for="False">Off</label><br>
  <input type="submit" value="Submit">
</form> 

{% endblock %}