{% extends "../base.html" %}

{% block title %}Yahoo Query Result{% endblock %}
{% block dashboardTitle %}Yahoo Query Result{% endblock %}


{% block dashboardBody %}
    <div>
        {% for label, results in queryResults.items %}
            <h2>{{ label }}</h2>
            <div>
                {% if results is iterable %}
                    {% for result in results %}
                        {{ result.name }}<br>
                    {% endfor %}
                {% else %}
                    {{ results }}
                {% endif %}
            </div>

        {% endfor %}
    </div>


{% endblock %}