{% extends 'account_base.html' %}

{% block title %}Sign up{% endblock %}

{% block account_body %}
<div class="d-flex justify-content-center h-75">
    <div class="card">
        <div class="card-header">
            <h3>Sign Up</h3>
        </div>
        <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% for non_field_error in form.non_field_errors %}
            <div class="errors input-group-text text-danger text-wrap">
            {{ non_field_error }}
            </div>
            {% endfor %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
              {% endfor %}

            {% for field in form %}

            {% for error in field.errors %}
            <div class="text-wrap input-group-text alert alert-danger">
                {{ error }}
            </div>
            {% endfor %}

            <div class="input-group form-group">
      

                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas 
                        {% if field.name == "username" %}
                        fa-user
                        {% elif field.name == "email" %}
                        fa-envelope
                        {% elif field.name == "password1" or field.name == "password2" %}
                        fa-key
                        {% endif %}
                        "></i></span>
                </div>
                <input 
                    {% if field.name == "password1" or field.name == "password2" %}
                     type="password" 
                    {% else %}
                    type="text" 
                    {% endif %}
                    
                    class="form-control" 
                    id="{{ field.id_for_label }}" 
                    name="{{ field.name }}" 
                    {% if field.value != None %}
                    value="{{ field.value|stringformat:'s' }}"
                    {% endif %} 
                    required="required" 
                    autocomplete="{{ field.name }}"
                    placeholder="{{ field.label|lower }}" 
                    />
            </div>
            {% endfor %}

            <div class="form-group">
                <input type="submit" id="_submit" name="_submit" class="btn float-right login_btn" value="Sign up">
            </div>
          </form>
        </div>
    </div>
</div>
{% endblock %}