{% load static %}

{% block html %}
<!DOCTYPE html>
<html lang="en"> 

{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.21/datatables.min.css"/>
{#     <link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet"> #}
    <link href="{% static "baseballBot/css/base.css" %}" rel="stylesheet">

    <title>{% block title %}Baseball Bot{% endblock %}</title>
    <style>
main
{
  background-image: url({% static "baseballBot/img/stadium_lights_wind_main.jpg" %});
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  height: 100%;
  width:100%;
}
    </style>
    {% block extra_css %}{% endblock %}
</head>
{% endblock %}

{% block body %}
    <body>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-row-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url "home" %}">
        Wiz Draft
      </a>
          <ul class="navbar-nav px-3 flex-sm-row" style="margin-right: 50px;">
              <li class="nav-item dropdown px-sm-3">
                <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    League
                </a>
                <div class="dropdown-menu" style="position:absolute;" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url "league_players" %}">Players</a>
                  <a class="dropdown-item" href="{% url "free_agents" %}">Free Agents</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" style="position:absolute;" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'home' %}">Dashboard</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                </div>
              </li>
            </ul>
    </nav> 


    

    {% block body_content %}
        <div class="container-fluid">
            <div class="row">

                {# put side navbar here #}
                {# {% include "sideNav.html" %}    #}

                {% include "messages.html" %} 

                <main role="main" class="ml-sm-auto pt-3 px-4">
                  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

                  <div class="card">
                    <div class="card-header">
                      <h3>
                        {% block dashboardTitle %}{% endblock %}
                      </h3>
                    </div>
                  </div>
                    </div>

                {% block dashboardBody %}{% endblock %}
                </main>
            </div>
        </div>
    {% endblock %}

   {#  {% block foot %} #}
        {# <footer> #}
            {# {% block footer %}{% endblock %} #}
            {% include "footer.html" %}
        {# </footer> #}
    {# {% endblock %} #}

    {% block javascript %}{% endblock %}
    {#} <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>#}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.21/datatables.min.js"></script>
  </body>
{% endblock %}
</html>
{% endblock %}